{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
  <h1 class="ml-3">{{ header }}</h1>
  <div class="col-md-8 order-md-1">
    {% if header == "Create New Page" %}
      <form class="" action="{% url 'newpage' %}" method="post">
    {% else %}
      <form class="" action="{% url 'edit_url' title=topic %}" method="post">
    {% endif %}

    {% csrf_token %}
      <div class="">
          <input class="mt-2 col-md-9" type="text" name="title" value="{% if topic %}{{ topic }}{% endif %}" placeholder="Title...">
      </div>
      <div class="">
        <textarea class="mt-2 col-md-9" rows="5" id="content" name="content" placeholder="Write your content here..." >{% if entry %}{{ entry }}{% endif %}</textarea>
      </div>
      <input class="" type="submit" name="submit" value="submit">
    </form>
  </div>



{% endblock %}
